.Container{
  width: 90%;
  min-height: 15rem;
  position: relative;
  margin-bottom: 2rem;
  box-shadow: .1rem .2rem .5rem .1rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}
.ListContainer {
  width: 90%;
  height: 20rem;
  position: relative;
  margin-bottom: 2rem;
  box-shadow: .1rem .2rem .5rem .1rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
}
.Container:hover, .ListContainer:hover {
  box-shadow: .1rem .4rem .6rem .2rem rgba(0, 0, 0, 0.5);
}
.ListViewContentContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}
.Container__Header {
  font-size: 2rem;
  font-weight: 900;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  padding: 1rem;
  text-overflow: ellipsis;
}
.Container__Text {
  font-size: 3rem;
  overflow-y: scroll;
  padding: 1rem;
  line-height: 1;
}
.Container__IconsContainer {
  width: 100%;
  display: flex;
  margin-top: auto;
}
.Container__IconContainer {
  padding: 1rem;
  cursor: pointer;
}
.Container__IconContainer:hover .Container__NoteIcon {
  color: rgb(0, 0, 0, 1);
}
.Container__NoteIcon {
  font-size: 2.4rem;
  color: rgba(0, 0, 0, 0.5)
}
.Container__Modal {
  background: rgba(215, 215, 215, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
}
.Container__ContentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 20rem;
  max-width: 60rem;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: .1rem .3rem .6rem .1rem rgba(0, 0, 0, 0.5);
  position: fixed;
}
.Container__ModalInput {
  width: 100%;
  border: 0;
  border-radius: 0;
  font-size: 2rem;
  padding: 1rem 1rem 0;
}
textarea {
  resize: none;
  min-height: 10rem;
}
.Container__Font_Bold {
  font-weight: bold;
}
.Container__ModalButtonContainer {
  margin-top: auto;
  display: flex;
}
.Container__ModalButton {
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  margin-left: auto;
}
.Container__ModalButton:hover {
  border: 1px solid gray;
  background: rgb(237, 237, 237);
}
.Container__ModalIconContainer {
  padding: 1rem;
  cursor: pointer;
}
.Container__Border:hover {
  border: 1px solid gray;
  background: rgb(237, 237, 237);
}
.Container__ModalIcon{
  font-size: 2rem;
}
.Container__Margin_Right {
  margin-right: auto;
}
.Container__ToolTip_White {
  background: white;
}
.Container__ToolTip_Blue {
  background: rgb(161, 202, 202);
}
.Container__ToolTip_Red {
  background: rgb(255, 166, 166);
}
.Container__ToolTip_Green {
  background: rgb(135, 207, 135);
}
:global(.pointer) {
  pointer-events: all;
}
