.Container {
  height: 100%;
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Container__ColorWheel {
	margin-top: 113px;
	position: relative;
}

.Container__HeaderText {
	background: #4f4f4f;
	border: 3px solid #fff;
	border-radius: 50%;
	-webkit-box-shadow: inset 1px 1px 5px #000;
	box-shadow: inset 1px 1px 5px #000;
	color: #fff;
	display: block;
  font-size: 1.6rem;
	font-weight: bold;
	height: 125px;
	margin: auto;
	line-height: 125px;
	text-align: center;
	white-space: nowrap;
	width: 125px;
  pointer-events: none;
}

.Container__ColorContainer {
	border: 2px dashed #ccc;
	border-radius: 50%;
	left: 50%;
	margin: -135px 0 0 -135px;	/* -(transform-origin) */
	padding: 3px;
	position: absolute;
	top: 50%;
  cursor: pointer;
	-webkit-transform-origin: 135px 135px;
	-moz-transform-origin: 135px 135px;
	-ms-transform-origin: 135px 135px;
	-o-transform-origin: 135px 135px;
	transform-origin: 135px 135px;
}

.Container__ColorContainer:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);	/* (360 / li) * nth-child */
}

.Container__ColorContainer:nth-child(2) {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.Container__ColorContainer:nth-child(3) {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.Container__ColorContainer:nth-child(4) {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.Container__ColorContainer:nth-child(5) {
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
}

.Container__ColorContainer:nth-child(6) {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}

.Container__ColorContainer:nth-child(7) {
	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	-o-transform: rotate(315deg);
	transform: rotate(315deg);
}

.Container__ColorContainer:nth-child(8) {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

.Container__ColorContainer:nth-child(1) a {
	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	-o-transform: rotate(315deg);
	transform: rotate(315deg); /* 360 -((360 / li) * nth-child ) */
}

.Container__ColorContainer:nth-child(2) a {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}

.Container__ColorContainer:nth-child(3) a {
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
}

.Container__ColorContainer:nth-child(4) a {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.Container__ColorContainer:nth-child(5) a {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.Container__ColorContainer:nth-child(6) a {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.Container__ColorContainer:nth-child(7) a {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.Container__ColorContainer:nth-child(8) a {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

.color {
	border: 2px solid #fff;
	border-radius: 50%;
	-webkit-box-shadow: inset 1px 1px 3px #000;
	box-shadow: inset 1px 1px 3px #000;
	color: #fff;
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

.cdb9b5e { background: #fff; }
.cc8b148 { background: #FFB365; }
.c8ab34b { background: #94E1A5; }
.c51b5a3 { background: #5BAFA6; }
.c4e7d8d { background: #8CC2D1; }
.c5c6182 { background: #7094CC; }
.c926174 { background: #AC96D8; }
.cc44646 { background: #FE8689; }
