.Container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 1rem;
  min-height: 6rem;
  background: rgb(170, 57, 57);
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
  transition: 0.5s;

}
:global(.Hide) {
  transform: translateY(-40%);
}
.Container__MenuButton {
  background: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  height: 100%;
  width: auto;
}
.Container__MenuIcon {
  font-size: 3rem;
  margin: 0 2rem;
  color: white;
}
.Container__Header {
  font-size: 2rem;
  margin-right: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  cursor: pointer;
}

.Container__InputContainer {
  border-radius: 0.5rem;
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background: rgb(212, 106, 106);
}

.Container__SearchIcon {
  font-size: 2rem;
  margin-right: 2rem;
}
.Container__SearchInput {
  height: 100%;
  width: 100%;
  border-radius: 0;
  border: 0;
  font-size: 2rem;
  font-weight: 900;
  background: transparent;
  color: white;
}
.Container__SearchInput::placeholder {
  opacity: 1;
  font-weight: bold;
}
.Container__IconsContainer {
  margin-left: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Container__IconContainer {
  padding: 1rem;
  cursor: pointer;
}
.Container__IconContainer:hover{
  background: #801616;
  border-radius: 3px;
}
.Container__Icon {
  font-size: 3rem;
}
.Container__Pointer_None {
  pointer-events: none;
}
:global(.Container__Focus_White) {
  background: white;
}
:global(.Container__Color_Black) {
  color: black;
}
:global(.Container__Text_Underline) {
  border-bottom: 2px solid white;
}

@media(max-width: 76.8rem) {
  .Container__InputContainer {
    width: 100%;
  }
  .Container__SearchInput {
    width: 95%;
  }
  .Container__Header {
    margin-right: 1rem;
  }
}
@media(max-width: 500px) {
  .Container {
    flex-direction: column;
    padding: 1rem 0;
  }
  .Container__InputContainer {
    border-radius: 0;
  }
  .Container__Header {
    margin: 0 0 1rem;
    font-size: 3rem;
  }
  .Container__SearchIcon {
    margin: 0 0.5rem;
  }
}
